@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Protest+Riot&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
header{
  background-color: rgb(158, 175, 177);
}
h1,h2,h3,h4,h5,h6,p,span,iframe,a,i{
  width: fit-content;
  height: fit-content;
}
nav{
  width: 100%;
}
.hover-link:hover{
    box-shadow: 0 5px 0 10px black;

}
a{
  color: black;
}

.icon_XL{
  font-size: 30px;
}
.ws__color{
  color: green;
}
.x__color{
  color: white;
}
.insta__color{
  color: rgb(233, 136, 10);
}

/*------------- MAIN----------*/


.container__img__animales{
  width: 400px;
  height: fit-content;
  
}
.container__tarjeta__tigre{
  width: 400px;
  height: fit-content;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"]{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="email"]{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="password"]{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"]{
  background-color: #5b40f1;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.beneficios>h2{
  margin-top: 30px;
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.beneficios>p{
  margin-top: 30px;
  display: inline-block;
}







 /*-----------FOOTER-----------------*/
@media (min-width: 768px){  
  .footer__h3{
    text-align: left;
  }
  footer{
    display:flex;
    flex-wrap: wrap;
  }
  .footer__redes{
    display: flex;
    flex-direction: column;
    gap:20px;
  }
  .footer__contacto{
    padding:0;
  }
  .footer__ubicacion{
    padding: 0;
  }
}
.bg-custom-dark{
  color: white;
  background-color: #232323;
}
.mapa{
  position: relative;
  width: 100%;
  height:15vh;
}