$Dark__800: #232323;
$White__100: #fff;
$tipografia__principal: "Lora", serif;
$gray__300: #ccc;
$black: #000;

$colors: (
    'dark-800': #232323,
    'white-100': #fff,
    'gray-300': #ccc,
    'black': #000
);