@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* BOUNCE IN*/
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* MIXIN*/
h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: #232323;
}

.navbar_icon {
  color: #fff;
}

.geonetH1 {
  color: #fff;
}

nav {
  width: 100%;
}

.hover-link:hover {
  background-color: #000 !important;
  color: #fece00 !important;
}

a {
  color: #000;
}

/*------------- MAIN----------*/
@media (min-width: 1024px) {
  .container__img__general {
    width: 600px;
  }
}
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type=text] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=email] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=password] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=submit] {
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 15px;
  border: none solid #ccc;
  border-radius: 4px;
  background-color: #5b40f1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  color: #232323;
  cursor: pointer;
}

@media (max-width: 768px) {
  .img__galery__space {
    margin-bottom: 1rem;
  }
}
.img__galery {
  border-radius: 20px !important;
}

.max__container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

/*-----------FOOTER-----------------*/
.ul__center {
  justify-content: center;
}

.ws__color {
  color: green;
}

.x__color {
  color: #fff;
}

.insta__color {
  color: rgb(233, 136, 10);
}

@media (min-width: 768px) {
  .footer__h3 {
    text-align: left;
  }
  .ul__center {
    justify-content: left;
  }
  footer {
    display: flex;
    flex-wrap: wrap;
  }
  .footer__redes {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .icon_XL {
    font-size: 30px;
  }
  .ws__color {
    color: green;
  }
  .x__color {
    color: #fff;
  }
  .insta__color {
    color: rgb(233, 136, 10);
  }
  .footer__contacto {
    padding: 0;
  }
  .footer__ubicacion {
    padding: 0;
  }
}
.bg-custom-dark {
  color: #232323;
  background-color: #232323;
}

.mapa {
  position: relative;
  width: 100%;
  height: 15vh;
}/*# sourceMappingURL=estilo.css.map */